<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
</head>
<body>
	<header　th:fragment="headerFragments">
		<nav id="pages">
			<ul id="pagelist">
				<li><a href="/">トップページ</a></li>
				<li><a href="/login/">ログイン</a></li>
				<li><a href="/signup/">会員登録</a></li>
			</ul>
		</nav>
		<div id="userInfo" th:if="${loginUser.isLogin()}">
			<h4>メールアドレス：<span th:text="${loginUser.email}"></span></h4>
			<h4>ニックネーム：<span th:text="${loginUser.nickname}"></span></h4>
		</div>
	</header>
</body>
</html>