<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/article/input.css}" rel="stylesheet">
	<title>記事投稿：確認画面</title>
</head>
<body>
	<header th:replace="~{fragments/header :: headerFragments}"></header>
	
	<main>
		<fieldset>
			<legend>
				<h1 id="title">記事投稿</h1>
			</legend>
			
			<form method="post">
				<h2>下記内容で登録します。</h2>
				<label for="title_input"><h2>タイトル：</h2></label>
				<input type="text" name="title" id="title_input" th:value="${title}" readonly>
				<span><span id="title_length"></span>/300</span>
				
				<label for="text_input"><h2>本文：</h2></label>
				<textarea name="text" id="text_input" rows="10" th:text="${text}" readonly></textarea>
				<span><span id="text_length"></span>/3000</span>
				
				<div id="buttons">
					<input type="submit" value="投稿" formaction="/post/article_post">
					<input type="submit" value="戻る" formmethod="get" formaction="/post/return">
				</div>
			</form>
		</fieldset>
	</main>
	
	<footer th:replace="~{fragments/footer :: footerFragments}"></footer>
	
	<script type="module" th:src="@{/js/article/input.js}"></script>
</body>
</html>